.cadastro{
    background-color: #f49a40;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.formInput {
    margin-top: -35px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headHome {
    display: contents;
  }

.headHome .logo {
    display: flex;
    align-items: left;
    margin-top: -1rem;
  }

button {
    padding: 7px;
    margin: 1px;
    margin-top: 2%;
}
