.App {
    background: linear-gradient(to bottom, #d89d65, white);
    width: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .App {
    width: 100vw;
    }
}